#wrapper {
    position: relative;
    top: 200px;
    width: 1500px;
}

#startTime {
    background-color: purple;
    margin-left: 30%;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
}

#questionsDiv {
    margin: 20px;
    font-size: 40px;
}

#currentTime {
    float: right;
    font-size: 40px;
}

#goBack {
    background-color: purple;
    position: relative;
    padding: 15px;
    font-size: 30px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#clear {
    background-color: purple;
    position: relative;
    padding: 15px;
    font-size: 30px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
}

button {
    border-radius: 8px;
}

h1 {
    font-size: 50px;
    margin: 20px;
}

li {
    background-color: purple;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 40px;
    color: white;
    border-radius: 8px;
}

textarea {
    width: 90%;
    margin: 20px;
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 20px;
    width: 55%;
    border: 1px solid grey;
    font-size: 30px;
}

#Submit {
    background-color: purple;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white
    
}

#createDiv {
    margin-top: 20px;
    border-top: 1px, solid grey;
}

a {
    text-decoration: none;
    font-size: 30px;
}

p {
    font-size: 35px;
}